pipeline/incremental.json
{
	"name": "incremental",
	"properties": {
		"description": "Main Pipeline to handle upserts in every table passed thourgh the bulk incremental pipeline",
		"activities": [
			{
				"name": "LookupOldETLCutoff",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT CutOffTime\nFROM Integration.ETLCutoff\nWhere TableName = '@{pipeline().parameters.tableName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestinationDataset_shs",
						"type": "DatasetReference",
						"parameters": {
							"cw_table": "integration.etlcutoff"
						}
					}
				}
			},
			{
				"name": "sp_InsertIntoLineageTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LookupOldETLCutoff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_InsertIntoIntegrationLineage]",
					"storedProcedureParameters": {
						"CutOffTime": {
							"value": {
								"value": "@activity('LookupOldETLCutoff').output.firstRow.CutOffTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataLoadStartTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MOH_synapse_PROD_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookupNewETLCutoff",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "sp_InsertIntoLineageTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(DataLoadStartTime) as CutOffTime From Integration.Lineage where TableName ='@{pipeline().parameters.tableName}' and DataLoadEndTime is null",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DestinationDataset_shs",
						"type": "DatasetReference",
						"parameters": {
							"cw_table": "Integration.Lineage"
						}
					}
				}
			},
			{
				"name": "CopyIncremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OldETLCutOff",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "UpsertColumnName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewETLCutOff",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "TimeStampColumn",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "TableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{variables('TableName')}\nWHERE @{variables('TimeStampColumn')} > '@{variables('OldETLCutoff')}' AND @{variables('TimeStampColumn')} <= '@{variables('NewETLCutoff')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "IF OBJECT_ID(N'[Staging].[@{replace(variables('TableName'),'.','')}]', N'U') IS NOT NULL\n        BEGIN\n            Truncate Table [Staging].[@{replace(variables('TableName'),'.','')}]\n        END",
							"type": "Expression"
						},
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": false
						},
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "StagingServiceLs",
							"type": "LinkedServiceReference"
						},
						"path": ""
					}
				},
				"inputs": [
					{
						"referenceName": "MohAppDbGeneric",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MohProdDwhIncremental",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "UpsertColumnName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupNewETLCutoff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "UpsertColumnName",
					"value": {
						"value": "@pipeline().parameters.UpsertColumnName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "OldETLCutOff",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupNewETLCutoff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "OldETLCutOff",
					"value": {
						"value": "@activity('LookupOldETLCutoff').output.firstRow.CutOffTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "NewETLCutOff",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupNewETLCutoff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NewETLCutOff",
					"value": {
						"value": "@activity('LookupNewETLCutoff').output.firstRow.CutOffTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TimeStampColumn",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupNewETLCutoff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeStampColumn",
					"value": {
						"value": "@pipeline().parameters.TimeStampColumn",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TableName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupNewETLCutoff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@pipeline().parameters.tableName",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"tableName": {
				"type": "string",
				"defaultValue": "dbo.people"
			},
			"UpsertColumnName": {
				"type": "string",
				"defaultValue": "civil_id"
			},
			"TimeStampColumn": {
				"type": "string",
				"defaultValue": "last_seen"
			}
		},
		"variables": {
			"TableName": {
				"type": "String"
			},
			"UpsertColumnName": {
				"type": "String"
			},
			"OldETLCutOff": {
				"type": "String"
			},
			"NewETLCutOff": {
				"type": "String"
			},
			"TimeStampColumn": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}